
body{
    background-color: orange;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 100px;
}

#header {
    background-color: #6b083e;
    color: beige;
    text-align: center;
    padding: 5px;

  

    

}

#container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center; 
    width: 800px;
    margin-left: auto;
    margin-right:auto ;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}
    
#content {
    text-align: center;
    border-radius: 1000px;
    
    padding:10px; 

}

#nav {
    background-color: beige;
    color:#6b083e
    width: 150px; 
    float: left; 

  
  






a {
    text-decoration: none;
    color:#6b083e
}

#main {
    display: flex
    flex: 1 1 0;
     margin 0 auto;
   background-color: orange;
    
   
    
}
#footer {
    background-color:gray;
    text-align: right;
    padding: 20px
    color: white;
    clear: both;
    float: :right





  
