*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color:rgb(240, 56, 56);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    
}

.title{
    color: whitesmoke;
    border: 10px solid rgb(168, 159, 159);
    min-width: 100%;
    margin: auto;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}



.menu{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    list-style-type: none;
    margin:0%;
    padding: 0%;
    color: black;
}

.menu :hover{
    text-decoration:wavy;
    color: blueviolet;
    background-color: aliceblue;
    transition-duration: 2s;
    
}


.content {
    display: flex;
    flex-direction: column;
    border: 200px;
    background-color:beige;

    align-content:center;
    align-items: center;
    
    
}

ul li:hover{
    transform: scale (1.1);
    transition: 0.3s; 
}




.videos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}




h4{
    text-align: center;
    text-shadow: 5px;
    color: brown;
}

.videos{
    display: none;
    }
    .readAloud:hover + .videos{
    display: block;
    }

  
@media screen and (min-width: 780px) 
    .content{
        
        flex-direction:row;
    }
    .menu{
        flex-direction:row;
    }

    @media screen and (min-width 1280px)
 
        .videos{
           display: flex;
           text-align: center;
        }
    